@model IEnumerable<CRUDApp.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form class="form-inline" method="get">
    <div class="form-actions no-color">
        <p>
            Choose Number of order
            <select name="filterNumber" multiple>
                @foreach (var number in Model.Select(s => s.Number).Distinct().OrderBy(s => s))
                {
                    <option>@number</option>
                }
            </select>
        </p>
        <p>
            Choose Date of order
            <select name="filterDate" multiple>
                @foreach (var date in Model.Select(s => s.Date.ToString("yyyy-MM-dd")).Distinct().OrderBy(s => s))
                {
                    <option>@date</option>
                }
            </select>
        </p>
        <p>
            Choose Provider of order
            <select name="filterProvider" multiple>
                @foreach (var provider in Model.Select(s => s.ProviderID).Distinct().OrderBy(s => s))
                {
                    <option>@provider</option>
                }
            </select>
        </p>
        <input asp- type="submit" value="Search" class="btn btn-outline-dark" />
        <a asp-action="Index" class="btn btn-outline-dark">Back to Full List</a>
    </div>
</form>
@*<h1>@ViewData["CurrentFilter"]</h1>*@
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IDSortParam"]">@Html.DisplayNameFor(model => model.ID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParam"]">@Html.DisplayNameFor(model => model.Number)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
